@model IEnumerable<HomeFinance.Payees.ResultModels.PayeeResult>

<h1>Payees</h1>

<table>
	<thead>
		<tr>
			<th>ID</th>
			<th>Payee</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.Id</td>
				<td>@item.Name</td>
				<td>@item.Transactions</td>
				<td><a asp-controller="payee" asp-action="delete" asp-route-id="@item.Id">Delete</a></td>
			</tr>
		}
	</tbody>
	<tfoot>
		<tr>
			<td></td>
			<td>
				<form asp-controller="payee" asp-action="create" method="post">
					<input name="name" type="text" />
					<input type="submit" />
				</form>
			</td>
		</tr>
	</tfoot>
</table>