@model IEnumerable<HomeFinance.Categories.ResultModels.CategoryResult>

	<h1>Categories</h1>

	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Category</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
		{
			<tr>
				<td>@item.Id</td>
				<td>@item.Name</td>
				<td>@item.Transactions</td>
				<td><a asp-controller="category" asp-action="delete" asp-route-id="@item.Id">Delete</a></td>
			</tr>
		}
		</tbody>
		<tfoot>
			<tr>
				<td></td>
				<td>
					<form asp-controller="category" asp-action="add" method="post">
						<input name="name" type="text" />
						<input type="submit" />
					</form>
				</td>
			</tr>
		</tfoot>
	</table>